body{
    margin: 0px;
    background-color: #e5e5e5;
    font-family: "Poppins", sans-serif; ;
}


#bg-header{
    padding-top: 80px;
    position: relative;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background: black no-repeat center center/cover;
  }
   
image {
    min-width: 100%;
    height: 400px;
    z-index: 1;
}
   
.overlay {
    width: 100%;
    height: 400px;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(8, 27, 11, 0.3);
    z-index: 2;
}

#text-header {
    color: #fff;
    padding-bottom: 160px;
  }
   
  #text-header h1 {
    font-size: 60px;
    font-family: "Abhaya Libre", serif;
    line-height: 0.9;
  }
   
  #text-header p {
    font-size: 14px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
  }
   
  #text-header a {
    font-size: 16px;
    font-weight: 700;
    padding: 14px 32px 14px 32px;
    border-radius: 999px;
    background-color: #fff;
    border-color: #fff;
    color: #212121;
    font-family: "Poppins", sans-serif;
  }
   
  @media (min-width: 720px) {
    #text-header {
      margin: 0;
      width: 100%;
      position: absolute;
      top: 55%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
    }
    #text-header h1 {
      font-size: 90px;
      font-family: "Abhaya Libre", serif;
      line-height: 0.9;
    }
   
    #text-header p {
      font-size: 18px;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
    }
  }

nav{
    background-color: #ffffff;
    height: 75px;
    min-height: 30px;
    font-size: 30px;
    font-weight: 400;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.active{
    color: #073c64;
    font-weight: bold;
}

.collapse{
    padding-left: 5px;
}

.nav-item{
    color: black;
    padding: 5px 5px 5px 17px;
    text-decoration: none;
    display: block;
}

.nav-link{
    font-size: 15px;
    font-weight: 400;
}


.nav-link:hover{
    color: #073c64;
    font-weight: bold;
}

.form-control{
    width: 160px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
}


#Profil{
    
}

.padd500{
    padding-top: 630px;
}

.padd100{
    padding-top:100px ;
}


#more {display: none;}


#video {
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: black no-repeat center center/cover;
  }
   
video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}
   
.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(8, 27, 11, 0.3);
    z-index: 2;
}

#header {
    color: #fff;
    padding-top: 250px;
  }
   
  #header h2 {
    font-size: 45px;
    font-family: "Abhaya Libre", serif;
    line-height: 0.9;
  }
   
  #header p {
    font-size: 6px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
  }
   
  #header a {
    font-size: 16px;
    font-weight: 700;
    padding: 14px 32px 14px 32px;
    border-radius: 999px;
    background-color: #fff;
    border-color: #fff;
    color: #212121;
    font-family: "Poppins", sans-serif;
  }
   
  @media (min-width: 720px) {
    #header {
      margin: 0;
      width: 100%;
      position: absolute;
      top: 55%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
    }
    #header h1 {
      font-size: 90px;
      font-family: "Abhaya Libre", serif;
      line-height: 0.9;
    }
   
    #header p {
      font-size: 18px;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
    }
  }

.jumbotron{
    z-index: -100;
}

.card{
    background-color: #eeeeee;
}

.news{
    height: 200px;
    width: 1112px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow:hidden;
}

.header-news{
    text-align: center;
    height: 60px;
    width: 170px;
    top: 100px;
    left: 100px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    border-style: solid;
    border-color: #0088ff;
}


.news img{
    width: 25%;
    padding: 15px;
    float: left;
}

.news-date{
    font-size: 14px;
    padding-left: 285px;
}

.news-title{
    padding-left: 285px;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.news-text{
    padding-left: 285px;
    padding-right: 1px;
    font-size: 15px;
    font-weight: 400;
    margin-right: 5px;
}

.btn-position{
    padding-left: 245px;
}

.btn-news{
    background-color: #0088ff; 
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.header-produk{
    text-align: center;
    height: 60px;
    width: 270px;
    top: 100px;
    left: 100px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    border-style: solid;
    border-color: #0088ff;
}

.produk{
    height: 200px;
    width: 1112px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.produk img{
    width: 14%;
    padding-top: 30px;
    padding-left: 15px;
    float: left;
}

.produk-title{
    padding-left: 190px;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.produk-text{
    padding-left: 190px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
}

.judul-card{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.isi-card{
    text-align: center;
}

.header-sosmed{
    text-align: center;
    height: 60px;
    width: 280px;
    top: 100px;
    left: 100px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    border-style: solid;
    border-color: #0088ff;
}

.center{
    text-align: center;
}

.profile-title{
    padding-left: 15px;
    height: 50px;
    width: 260px;
    top: 100px;
    left: 100px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bolder;
}

.tentang-kami-line{
    height: 3px;
    width: 260px;
    background-color: #0088ff;
    border-radius: 15px;
}

.akreditasi-line{
    height: 3px;
    width: 195px;
    background-color: #0088ff;
    border-radius: 15px;
}

.header-profil{
    text-align: center;
    height: 60px;
    width: 400px;
    top: 100px;
    left: 100px;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    border-style: solid;
    border-color: #0088ff;
}

.profile-text-bg{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.profile-text-bg img{
    padding: 5px 20px 20px 20px;
}

.profile-text{
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
}

.visi-misi{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

#artikel{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.artikel-top-img{
    max-width: 1500px;
    max-height: 350px;
    text-align: center;
}

.artikel-title{
    font-size: 30px;
    font-weight: bold;
}

.artikel-date{
    font-size: 14px;
    padding-left: 90px;
}

.artikel-text{
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    font-weight: 400;
    margin: 40px;
}


.sub-artikel .title{
    padding-left: 40px;
    font-size: 17px;
    font-weight: bold;
}

.row-artikel{
    padding-left: 40px;
    overflow: auto;
}

.row-artikel img{
    padding: 10px;
    width: 20%;
    float: left;
}
 
.row-artikel .text{
    padding-top: 10px;
    padding-left: 230px;
    font-size: 15px;
    font-weight: 400;
}

.table-bordered{
    background-color: #ffffff;
}

footer{
    height: 340px;
    background-color: #e1e1e1e1;
}

footer h3{
    font-weight: bold;
    font-size: 35px;
}

footer img{
    width: 9%;
    opacity: 0.7;
}

footer .row-top{
    padding-top: 25px;
}

footer p{
    font-size: 15px;
}

.footer-line{
    height: 3px;
    width: 100%;
    border-radius: 15px;
    background-color: #0088ff;
}
